{% extends 'base.html' %}

<title>
	{% block titulopestana %}

    Productos

	{% endblock %}

</title>


{% block titulo %}


<h1>Aca va el contenido de comida pichichos...</h1>

<p style="text-align:center;"><img src="https://t1.uc.ltmcdn.com/es/posts/8/2/4/como_elegir_la_comida_de_mi_perro_22428_600_square.jpg" height="600" width="900">

{% for comida in comida_perro %}

<p style="text-align:center;"><div class="card float-left" style="width: 18rem;">
  <img src="https://cdn-icons-png.flaticon.com/512/21/21537.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{comida.name}}</h5>
    <p class="card-text">{{comida.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{comida.price}}</li>
  </ul>
  <div class="card-body">
    <a href="/crud/detail_product/{{comida.id}}/" class="card-link">Detalles</a>
  </div>
</div>



{% endfor %}

{% endblock %}

