{% extends 'base.html' %}

<title>
	{% block titulopestana %}

    Productos

	{% endblock %}

</title>


{% block titulo %}


<p style="text-align:center;"><img src="https://amykus.com/template/amykus_shop/files/images/page-amykus/company-header_1.jpg" class="img-fluid" alt="...">

{% for collar in collares %}

  {% if collar.producto_img %}

  <img src="{{collar.producto_img.url}}" class="card-img-top" alt="...">

  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{collar.name}}</h5>
    <p class="card-text">{{collar.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{collar.price}}</li>
  </ul>
  <div class="card-body">
    <a href="/crud/detail_product/{{collar.id}}/" class="card-link">Detalles</a>
  </div>
</div>



{% endfor %}

{% for correa in correas %}

<p style="text-align:center;"><div class="card float-left" style="width: 18rem;">
  {% if correa.producto_img %}

  <img src="{{correa.producto_img.url}}" class="card-img-top" alt="...">

  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{correa.name}}</h5>
    <p class="card-text">{{correa.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${{correa.price}}</li>
  </ul>
  <div class="card-body">
    <a href="/crud/detail_product/{{collar.id}}/" class="card-link">Detalles</a>
  </div>
</div>



{% endfor %}

{% endblock %}

