{% extends 'base.html' %}

<title>
	{% block titulopestana %}

    Perfil

	{% endblock %}

</title>

<table></table>
{% block titulo %}
Petshop es una empresa dedicada al rubro de animales de compañia.
Brindamos a nuestros clientes asesoramiento basado en nuestra experiencia y conocimientos haciendolo con compromiso y empatía.

Entendemos que trabajamos con seres vivos y para ello,
basados en el respeto que les tenemos, tomamos todos los recaudos para su bienestar.
Nos capacitamos para dar un servicio de calidad y ofrecer los mejores productos que se puedan encontrar en el mercado para nuestros clientes y sus mascotas.

{% endblock %}