<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>
        {% block titulopestana %}

        {% endblock %}
    </title>
</head>
<body style="background-color:#cfffca;">
<nav class="navbar navbar-expand-lg navbar-light bg-" style="background-color: #8dfda1b2;">
  <a class="navbar-brand">Petshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/productos/productos_comida_perro/">Comida Perritos</a>
              <div class="dropdown"></div>
              <a class="dropdown-item" href="/productos/productos_comida_gato/">Comida Gatos</a>
              <div class="dropdown"></div>
              <a class="dropdown-item" href="/productos/productos_correa_collar/">Correas y collares</a>
              {% if request.user.is_authenticated %}
              <div class="dropdown"></div>
              <a class="dropdown-item" href="/crud/create_product/">Crear Producto</a>
              {% else %}
              <div class="dropdown"></div>
              <a class="dropdown-item" href="/auth/login/">Inicie sesion para mas funciones</a>
              {%endif%}
            </div>
      </li>
      {% if request.user.is_authenticated %}
            <div class="d-inline p-2 bg-primary text-white">{{request.user.username}}</div>
      <img src="{{request.user.user_profile.profile_img.url}}" style="height: 3rem;"data-toggle="tooltip" data-placement="bottom">
      <li class="nav-item dropdown" style="margin-right: 60rem">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <img src="{{request.user.user_profile.profile_img.url}}" style="height: 3rem;"data-toggle="tooltip" data-placement="bottom">
          <div class="dropdown"></div>
          <a class="dropdown-item" href="/auth/logout/">cerrar sesion</a>
          <div class="dropdown"></div>
          <a class="dropdown-item" href="/users/profile/">ver perfil</a>
        </div>
      </li>
      {% else %}
      <a class="nav-link" href="/auth/login/">iniciar sesion <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/auth/register/">registrate <span class="sr-only">(current)</span></a>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="search/search_product/" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar Producto" name="search" aria-label="Search">
      <button class="btn btn-primary" type="submit" style="background-color: darkseagreen">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Buscar...
      </button>
    </form>
  </div>
</nav>
{% block titulo %}
{% endblock %}

{% block subtitulo %}
{% endblock %}

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</html>